{{!-- Citation for code: --}}
{{!-- Date: 11/16/23 --}}
{{!-- Adapted from https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<!DOCTYPE html>
<html>


<head>

</head>


<body onload="_browse()">

    {{{body}}}

</body>

</html>