<html>
    <head>
        <title>BoSS Database</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>BoSS Database</h1>
        [ <a href="index.html">Homepage</a> | <a href="pilots.html">Pilots</a> | <a href="starships.html">Starships</a> | <a href="weapon_loadouts.html">Weapon Loadouts</a> | <a href="hyperspace_routes.html">Hyperspace Routes</a> |  <a href="planets.html">Planets</a> | <a href="starship_route_permits.html">Starship Route Permits</a> | <a href="planets_in_routes.html">Planets In Routes</a> ]
        <p>
            This is the Bureau of Ships and Services (BoSS) Database. Click on a link above to view or edit the table.
        </p>
        <p>
            Schema:
        </p>
        <img src="images/schema.png" alt="Schema of Database">
    </body>
</html>